.navbar-text {
    background-color: blueviolet;
    height: 50px;
    font-weight: bold;
	display: flex;
	align-items: center
}

.navbar-links {
    color: white;
}

.align-center {
    text-align: center;
}

.text-decoration {
    text-decoration: none;
}

.user-btn {
    background-color: blueviolet !important;
    border-color: blueviolet !important;
}

.user-btn:hover {
    background-color: rgb(181, 42, 181) !important;
    border-color: rgb(181, 42, 181) !important;
}

td, tr {
    background-image: linear-gradient(white, blueviolet);
}

.table-container {
    height: 530px;
    overflow-y: auto;

    /* color: black; */
    /* border: 2px solid black; */
}