*\.mp4
*\.out
*\.dat
*\.exe
*\.class
*\.zip
*\.jar
*\.classpath
*\.project
*\.gitignore
*\.prefs
# *\.pdf
PRACTICE/MODULES/Aptitude/Riti_Aptitude
/PRACTICE/MODULES/DevOps/DailyPractice/Oct15/TestingStudentData/udo systemctl start mysql
.vscode/settings.json
