*\.mp4
*\.out
*\.dat
*\.exe
*\.class
*\.zip
*\.jar
*\.classpath
*\.project
*\.gitignore
*\.prefs
# *\.pdf
PRACTICE/MODULES/Aptitude/Riti_Aptitude
/PRACTICE/MODULES/DevOps/DailyPractice/Oct15/TestingStudentData/udo systemctl start mysql
.vscode/settings.json
PRACTICE/MODULES/AdvancedJava/DailyPractice/Oct2024MicroServicesDurgesh/.metadata/.plugins
PRACTICE/MODULES/AdvancedJava/DailyPractice/Oct2024MicroServicesDurgesh/.metadata/.lock
PRACTICE/MODULES/AdvancedJava/DailyPractice/Oct2024MicroServicesDurgesh/.metadata/.log
PRACTICE/MODULES/AdvancedJava/DailyPractice/Oct2024MicroServicesDurgesh/.metadata/version.ini
