*\.mp4
*\.out
*\.dat
*\.exe
*\.class
*\.zip
*\.jar
*\.classpath
*\.project
*\.gitignore
*\.prefs
# *\.pdf
PRACTICE/MODULES/Aptitude/Riti_Aptitude
/PRACTICE/MODULES/DevOps/DailyPractice/Oct15/TestingStudentData/udo systemctl start mysql
.vscode/settings.json
PRACTICE/MODULES/AdvancedJava/DailyPractice/Oct2024MicroServicesDurgesh/.metadata/.plugins
PRACTICE/MODULES/AdvancedJava/DailyPractice/Oct2024MicroServicesDurgesh/.metadata/.lock
PRACTICE/MODULES/AdvancedJava/DailyPractice/Oct2024MicroServicesDurgesh/.metadata/.log
PRACTICE/MODULES/AdvancedJava/DailyPractice/Oct2024MicroServicesDurgesh/.metadata/version.ini
*\misc.xml
*\modules.xml
*\vcs.xml
*\.iml
*\.sonarlint
*\.gitattributes
*\mvnw
*\mvnw.cmd
PRACTICE/MODULES/WebTechonolgy/day05/tailwind/package-lock.json

PRACTICE/MODULES/WebTechonolgy/day05/tailwind/node_modules
PRACTICE/MODULES/WebTechonolgy/day05/tailwind/tailwind.config.js
PRACTICE/MODULES/WebTechonolgy/day05/tailwind/package.json
